  // Experience 

  .xp {

    .position {
      font-style: italic;
    }

    a {
      color: inherit;
      font-weight: 700;
      text-decoration: none;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background: #000;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 250ms ease-in-out;

      }

      &:hover::after {
        transform: scaleX(1);
        transform-origin: left;
      }
    }

    .xp__content {
      padding-top: 10px;
      letter-spacing: 1px;
    }
  }