@import "https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap";

html {
  font-family: "Nunito", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Nunito", sans-serif;
}

li {
  list-style: none;
  margin: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.content {
  max-width: 1060px !important;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
  text-align: left;
}

.scroll-top-button {
  position: fixed; 
  width: 100%;
  left: 50%;
  bottom: 40px;
  height: 20px;
  font-size: 3rem;
  z-index: 1;
  cursor: pointer;
  color: green;
}

.section {
  display: flex;
  justify-content: center;

  .section__title {
    flex-shrink: 0;
    width: 200px;
    margin-right: 70px;
    text-align: right;
    font-weight: 700;
    letter-spacing: 2px
  }

  .section__content {
    width: 100%;
    max-width: 650px;
    font-size: 1rem;
  }
  

  .skills {
    height: 25vh;
    display: flex;
    justify-content: space-between;

    .skills__type--header {
      padding-top: 10px;
      font-weight: 700;
    }
  }

  .position {
    padding-right: 1.5rem;
  }

  .place-time {
    display: flex;
    justify-content: space-between;
  }

}

.intro {
  font-size: 2.5rem; 
  max-width: 1440px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  padding: 100px 170px;

  .intro__hello {
    display: flex;
    flex-direction: row;

    h2 {
      font-size: 2.5rem;
    }
  }

  .intro__touch {
    display: flex;
    flex-direction: row;
    
    p {
      font-size: 1.25rem;
    }
  }
}

.xp {
  height: 40rem;
  .xp__content {
    padding-top: 100px;
  }
}

.emailStyle {
  line-height: 14px;
}

.emailStyle a {
  border-bottom: 3px solid black;
  text-decoration: none;
  padding-bottom: 1px;
  font-size: 1.25rem;
}

.emailStyle a:hover {
  background: #000;
  transition: ease-in 0.2s;
  color: #fff;
}


.content {
  width: 100%;
  max-width: 650px;
}

footer {
  width: 100%;
  display: flex;
}

@media only screen and (max-width: 1024px) {
  .intro {
    padding: 140px;
  }

  .xp {
    height: 60vh;
  }

  .section__content {
    .jobs {
      padding-top: 10px;
    }

    .skills {
      height: 35vh;
      flex-wrap: wrap;
    }
  }
}

@media only screen and (max-width: 896px) {
  .intro {
    padding:120px;
    height: 65rem;
  }

  .xp {
    height:40rem
  }

  .section__content {
    .skills {
      height: 20rem;
      padding-right: 30px;
    }
  }
}




@media only screen and (max-width: 768px) {
  .intro {
    padding: 0px;
    font-size: 2rem;

    .intro__hello h2 {
      font-size: 2rem;
    }

    .intro__para{
      font-size: 1.75rem;
    }

    .intro__touch {
      p {
        font-size: 1rem;
      }

      span {
        font-size: 1rem;
        line-height: 25px !important;
      }

      .emailStyle {
        line-height: 20px !important;
        a {
          font-size: 1rem !important;
        }
      }
    }
  }

  .xp {
    height: 60vh;
  }

  .section {
    display: flex;
    justify-content: center;

    .section__content {
      padding-top: 30px;
      padding-left: 30px;
    }

    .section__title {
      text-align: left;
      width: auto;
      margin-right: 20px;
    }
    .skills {
      height: 20rem;
      flex-wrap: wrap;

      .skills__type--header {
        padding-top: 0px;
      }
    }

    .jobs {
      position: relative;
      right: 79px;
      top: 30px;
    }


    .position {
      padding: 0;
    }
  }
}

@media only screen and (max-width: 667px) {
  .xp {
    height: 50rem;
  }
  .section {
    .skills {
      height: 35rem;
      flex-wrap: wrap;

      .skills__type--header {
        padding-top: 0px;
      }
    }
    
    .place-time {
      flex-direction: column;
    }
  }
}

@media only screen and (max-width: 414px) {
  .intro {
    padding: 0;
  }

  .xp {
    height:60rem
  }

  .section {
    .section__title {
      margin-right: 0px;
    }

    .skills {
      height: 40rem;
      padding-right: 30px;
    }

    .jobs {
      position: relative;
      right: 79px;
      top: 30px;
    }

    .place-time {
      flex-direction: column;
    }
  }
}


@media only screen and (max-width: 375px) {
  .intro {
    padding: 0;
  }

  .section {
    .section__title {
      margin-right: 0px;
    }

    .skills {
      height: 60rem;
      padding-right: 60px;
    }

    .jobs {
      position: relative;
      right: 79px;
      top: 30px;
    }

    .place-time {
      flex-direction: column;
    }
  }
}
