@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

html {
  font-family: 'Nunito', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Nunito', sans-serif;
}

li {
  list-style: none;
  margin: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.intro {
  font-size: 2.5rem;
  max-width:100%;
  margin-top: 8.375rem;
  margin-bottom: 8.375rem;
}

.background {
  margin-top: 16.75rem;
  margin-bottom: 16.75rem;
}

.title{
  text-transform: capitalize;
  font-size: 2.5rem;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
