  // Projects
  .project {
    .project__list {
      display: flex;
      flex-direction: column;
      margin-top: .5rem;
      text-transform: capitalize;

      li {
        &:nth-child(2n + 2) {
          margin: 2rem 0 2rem 0;
        }
      }

      h5 {
        display: inline-block;
        font-weight: 700;
        text-decoration: none;
        position: relative;

        i {
          padding-left: .5rem;
        }

        &::after {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 2px;
          background: #000; // Change this fucking colour!
          transform: scaleX(0);
          transform-origin: right;
          transition: transform 250ms ease-in-out;
        }

        &:hover::after {
          transform: scaleX(1);
          margin-bottom: -5px;
          transform-origin: left;
        }
      }

      .excerp {
        margin-top: 1.25rem;
      }

      // Make this list and similar styling to blog with some github icons 
      // Add arrow to projects page
    }
  }